
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,400&family=Poppins:wght@300;400;500;700&family=EB+Garamond:ital@0;1&display=swap');

* {
    box-sizing: border-box;
  }
a{
    text-decoration: none;
}

:root {
    --primary-color: #80ab54;
    --second-color:#fff;
  }

body{
    font-family: 'Montserrat', sans-serif;
    
}

header {
    
    background-color: var(--primary-color);
    /* height:60px; */
}

header .header-inner{   
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    animation: feature-text-anim 0.25s ease-in-out;
   
}
header .logo a{
    color:#fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
}

header .hambuger{
    position: relative;
}

header .hambuger i{
    position: absolute;
    right:0;
    top:-4px;
    color:#fff;
    font-size: 24px;
}

header .hambuger i.hidden{    
    display: none;        
}


header .hambuger i:hover{
    cursor: pointer;
}



.content{
    width: 960px;
    max-width: 90%;
    margin: 96px auto;
    animation: feature-text-anim 0.25s ease-in-out;
    /* height: calc(100vh - 34px); */
    /* border-bottom: 50px solid #000; */
}   

.content h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.2em;
}

.content h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.2em;
    margin-top: 14px;
}

.image-wrapper {
    margin-top: 36px;
}

.content img{
    width: 20%;
    float: left;
    margin-right: 30px;
}

.content p{
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 1.6em;
    color: rgba(26,26,26,.7);
    margin-bottom: 16px;
}

.preFooter{
    background-color: #000;
    height: 50px;
}


footer{
    background-color: var(--primary-color);
}

footer .footer_inner{
    width: 960px;
    max-width: 90%;
    margin-left:auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    color:  rgba(255,255,255,.4);
}

footer .email{
    color: rgba(255,255,255,.8);
    letter-spacing: 2px;
    /* padding-top: 60px; */
    font-size: 14px;
    text-align: center;
}


footer  h2.office-hours{
    font-size: 22px;
    margin-top: 60px;
    margin-bottom: 4px;
}

footer .open-day {
    margin-top: 28px;
}

footer .open-day h3{
    font-size: 16px;
    line-height: 2.2;
    /* margin: 16px 0 8px; */
}


footer table th{
    font-size: 16px;
    line-height: 2.2;
    text-align: left;
}


footer table th + th {
    padding-left: 32px;
}

.footer .address{
    margin-top: 40px;
    text-align: center;
    font-size: 32px;

}

.footer .contact{
    margin-top: 60px;
    text-align: center;
    letter-spacing: 0;
    line-height: 2.6;
}

.footer .hr{
    margin-top: 60px;
    background-color: rgba(255,255,255,.4);
  
    height: 1px;
    
}

.nav-menu{
    
    position: fixed;
    width: 260px;
    height: 100vh;
    background-color: #80ab54;
    top:0;
    right:0;
    padding-top: 40px;
    padding-left: 20px;
    z-index: 999;
    /* opacity: 0.8; */
    
    
    
}

.nav-menu ul li{

    margin-bottom: 40px;
}

.nav-menu ul li a{

   color: #fff;
}

.nav-menu.hidden {

        display: none;

}

.web-wrapper{
    transition: all 0.25s ease;
}

.web-wrapper.transform{
    transform: translateX(-260px);
    transition: all 0.25s ease;
}



.fixed-position{
    overflow: hidden;    
}



.google-maps{
    width: 970px;
    max-width: 90%;
    margin: 60px auto;
    text-align: center;
}

.updating{
    font-size: 28px;
    padding: 20px;
    color: #999;
}

/* Animation */
@keyframes feature-text-anim{
    0%{
        opacity: 0;
 
        transform: translate3d(0,10px,0);
    }

    75%{
        opacity: 0;
        transform: translate3d(0,10px,0);
    }
    100%{
        opacity: 1;
        transform: translate3d(0,0,0);
    }

  }


  @media(max-width:640px){

    header .header-inner{   
        max-width: 90%;
 
       
    }

    header .logo a{
        font-size: 16px;
    }

    main .content{
        margin: 56px auto;
    }

    .content img{
        width: 100%;
        float: none;
        margin-bottom: 12px;
        
    }

    footer .email{
        display: none;
    }

    footer .address{
        font-size: 28px !important;
        line-height: 1.4;
    }

    footer .office-hours, 
    footer .open-day {
        text-align: center;
    }
    footer table{
        display: inline-block;
    }

    footer .footer_inner{
        padding-top: 40px;
    }

    footer .office-hours{
        margin-top: 0 !important;
    }


    footer .hr{
        margin-top: 40px !important;
    }
    footer .contact{
        margin-top: 40px !important;
    }
  }