
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
  }
a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    
}




.header{
    /* transform: translateX(-260px);     */
    /* padding: 0 20px; */
    position: relative;
    height: 100vh;
    padding-top: 20px;
    /* background-color: rgba(0,0,0,0.3); */
    
   
    background-image: url("https://images.squarespace-cdn.com/content/v1/5a37f8a849fc2bbd84457505/1513621215456-GRPNTQSOETWVUB5Y5QLR/scott-webb-186137.jpg" );
    background-size: cover;
    z-index: 2;
}

.header.transform{
    transform: translateX(-260px);
    transition: all 0.25s ease;
}



.container {
    margin: 0 auto;
    /* width:1110px; */
    max-width: 90%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    animation: feature-text-anim 0.75s ease-in-out;
}

.container a{
    color:#fff;
    font-size: 22px;
    font-weight: 500;
}

.container .btn{
    position: relative;
}

.hidden{
    display: none;

}

i.hidden{
    display: none;
}

.container .btn i {
    position: absolute;
    color:#fff;
    font-size: 24px;
    
   
}

.container .btn i.transform{
    transform: translateX(-260px);
}


#open{
    cursor: pointer;
}

#close{
    cursor: e-resize;
}



.header h1{
    margin-top: 120px;
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    color: #fff;
    z-index: 99;
    text-transform: uppercase;
    line-height: 1.6;
    transform: translateZ(0);
    transition: all 0.25s ease ;
    /* animation: slideInFromtLeft 1.5s ease-in; */
    
}

.hero {
    margin: auto;
    max-width: 956px;
    width: 100%;
    animation: feature-text-anim 0.75s ease-in-out;
}
.hero p{
    margin-top: 50px;
    color: #fff;
    text-align: center;
    /* padding: 0 200px; */
    line-height: 1.8;
    font-size: 22px;
}

.hero a{
    display: block;
    max-width: 200px;
    margin: 0 auto;
    margin-top: 60px;
    border: 1px solid #fff;
    color: #fff;
    padding: 16px 10px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    
   
    
}

.hero a:hover{
    letter-spacing: 2px;
    background-color: #444;
}

.overlay{
    position:absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
}

.header .image{
    display: block;
    position:absolute;
    inset: 0;
    z-index: -2;  
}
blockquote{
    text-align: center;
    
}

.quote{
    margin-left: auto;
    margin-right: auto;
    max-width: 956px;
    margin-top: 20px;
    text-align: center;
    padding: 0 140px;
    line-height: 1.6;
}


.quote figcaption{
    margin-top: 20px;
    color: rgba(26,26,26,.9);
    opacity: .3;
}
#quote {
    font-size: 50px;
    
    color: rgba(26,26,26,.9);
    opacity: .3;
    
    
}

.quote hr {
    max-width: 965px;
    margin-top: 40px;
    margin-right: 0 auto;
    color: rgba(26,26,26,.9);
    opacity: .3;
}

.contact {
    margin: 60px auto 0 auto;
    max-width: 965px;
    display: flex;
    justify-content: center;
    gap: 20px;
    /* flex-shrink: 1;
    flex-grow: 1;
    flex-wrap: nowrap;   */
}

.contact .card {
    flex: 1;
}

.card img{
    width: 100%;
}

.card h2{
    margin-top: 20px;
    color: #3d9991;
    text-align: center;
    font-size: 24px;
    
}

.card p {
    
    margin-top: 16px;
    line-height: 1.4;
    font-size: 16px;
    text-align: center;
}

.card a{
    margin-top: 20px;
    display: block;

    text-align: center;
    color: #3d9991;
}

.contact-hours {
    max-width: 965px;
    margin: auto;
    margin-top: 80px;

}

.footer {
    margin-top: 40px;
    padding-bottom: 60px;
    background-color: #80ab54;
    /* padding-top: 20px; */
    /* padding: 20px 0; */
    color:  rgba(255,255,255,.4);
    
}

.footer h2{
    font-size: 22px;
    margin-top: 60px;
    margin-bottom: 4px;
}

.footer h3{
    font-size: 16px;
    margin: 16px 0 8px;
}

.footer .email {
    color: rgba(255,255,255,.8);
    letter-spacing: 2px;
    padding-top: 60px;
    font-size: 14px;
    text-align: center;
}

.footer h1{
    margin-top: 40px;
    text-align: center;
    color: rgba(255,255,255,.4);
    font-size: 32px;
}

.footer .hr{
    margin-top: 60px;
    background-color: rgba(255,255,255,.4);
  
    height: 1px;
    
}
.address {
    margin-top: 60px;
    text-align: center;
    letter-spacing: 0;
    line-height: 2.6;
}

#located{
    margin-top: 60px;
}

.nav-menu{
    
    position: fixed;
    width: 260px;
    height: 100vh;
    background-color: #80ab54;
    top:0;
    right:0;
    padding-top: 40px;
    padding-left: 20px;
    z-index: 999;
    opacity: 0.8;
    
    
    
}

.nav-menu ul li{

    margin-bottom: 40px;
}

.nav-menu ul li a{

   color: #fff;
}


.nav-menu:focus{
    outline: none;
}
.fixed-position{
    overflow: hidden;
    
}


@keyframes slideInFromtLeft{
    0% {
      transform:translateX(-100%);
    }
  
    100%{
      transform:translateX(0);
    }
  }
  

  @keyframes feature-text-anim{
    0%{
        opacity: 0;
 
        transform: translate3d(0,10px,0);
    }

    75%{
        opacity: 0;
        transform: translate3d(0,10px,0);
    }
    100%{
        opacity: 1;
        transform: translate3d(0,0,0);
    }

  }

