
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,400&family=EB+Garamond:ital@0;1&display=swap');

* {
    box-sizing: border-box;
  }
a{
    text-decoration: none;
}

:root {
    --primary-color: #80ab54;
  }

body{
    font-family: 'Montserrat', sans-serif;
    
}




.header{
    /* transform: translateX(-260px);     */
    /* padding: 0 20px; */
    position: relative;
    height: 100vh;
    /* padding-top: 20px; */
    background-color: rgba(0,0,0,0.3);
    background-image: url("./img/scott-webb-186137.jpg");
    background-blend-mode: multiply;

    background-size: cover;

    transition: all 0.25s ease;
}

.web-wrapper{
    transition: all 0.25s ease;
}

.web-wrapper.transform{
    transform: translateX(-260px);
    transition: all 0.25s ease;
}

body.transform{
    padding-right: 260px;
    transition: all 0.25s ease;
}


/* .web-wrapper{
    
    z-index: -10;
} */

.container {
    margin: 0 auto;
    /* width:1110px; */
    max-width: 95%;
    padding-top: 32px ;
    /* padding: 0 20px; */
    display: flex;
    justify-content: space-between;
    animation: feature-text-anim 0.75s ease-in-out;
}

.logo a{
    color:#fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
}

.container .hambuger{
    position: relative;
}

.hidden{
    display: none;

}

i.hidden{
    display: none;
}

.container .hambuger i {
    position: absolute;
    top:-4px;
    right:0;
    color:#fff;
    font-size: 24px;
    
   
}

.container .hambuger i.transform{
    transform: translateX(-260px);
}


#open{
    cursor: pointer;
}

#close{
    cursor: e-resize;
}



.header h1{
    font-family: 'Montserrat', sans-serif;

    margin-top: 120px;
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    color: #fff;
   
    text-transform: uppercase;
    line-height: 1.6;
    transform: translateZ(0);
    transition: all 0.25s ease ;
    z-index: -2;
    /* animation: slideInFromtLeft 1.5s ease-in; */
    
}

.hero {
    margin: auto;
    max-width: 956px;
    width: 100%;
    animation: feature-text-anim 0.5s ease-in-out;
}


.hero p{
    font-family: 'EB Garamond', serif;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 50px;
    color: #fff;
    text-align: center;
    /* padding: 0 200px; */
    line-height: 1.9;
    font-size: 22px;
}

.hero a{
    display: block;
    max-width: 200px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    margin-top: 60px;
    border: 1px solid #fff;
    color: #fff;
    padding: 16px 10px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    
   
    
}

.hero strong{
    background-color: var(--primary-color);
    padding: 0 2px;
    /* color: red !important; */
}

.hero a:hover{
    scale:1.02;
    /* letter-spacing: 2px; */
    background-color: #80ab54;
    transition : 0.25s ease ;
}

/* .overlay{
    position:fixed ;
    inset: 0 !important;
    background-color: rgba(0,0,0,0.3);
    z-index: 1111111 ;
} */

.header .image{
    display: block;
    position:absolute;
    inset: 0;
    z-index: -2;  
}
blockquote{
    text-align: center;
    
}

.quote{
    margin-left: auto;
    margin-right: auto;
    max-width: 956px;
    margin-top: 20px;
    text-align: center;
    padding: 0 140px;
    line-height: 1.6;
}


.quote figcaption{
    margin-top: 20px;
    color: #1a1a1ae6;
    opacity: .3;
}
#quote {
    font-size: 50px;
    
    color: rgba(26,26,26,.9);
    opacity: .3;
    
    
}

.quote hr {
    max-width: 965px;
    margin-top: 40px;
    margin-right: 0 auto;
    color: rgba(26,26,26,.9);
    opacity: .3;
}

.home-card {
    margin: 60px auto 0 auto;
    max-width: 965px;
    display: flex;
    justify-content: center;
    gap: 20px;
    /* padding-left: 20px;
    padding-right: 20px; */
    /* flex-shrink: 1;
    flex-grow: 1;
    flex-wrap: nowrap;   */
}

.home-card .card {
    flex: 1;
}

.card img{
    width: 100%;
}

.card h2{
    margin-top: 20px;
    color: #3d9991;
    text-align: center;
    font-size: 24px;
    line-height: 1.4;
    
}

.card p {
    
    margin-top: 16px;
    line-height: 1.4;
    font-size: 16px;
    text-align: center;
}

.card a{
    margin-top: 20px;
    display: block;

    text-align: center;
    color: #3d9991;
}

.contact-hours {
    max-width: 965px;
    margin: auto;
    margin-top: 80px;

}

.preFooter{
    margin-top: 80px;
    background-color: #000;
    height: 50px;
}

footer{

    background-color: var(--primary-color);
}

footer .footer_inner{
    width: 960px;
    max-width: 90%;
    margin-left:auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    color:  rgba(255,255,255,.4);
}

footer .email{
    color: rgba(255,255,255,.8);
    letter-spacing: 2px;
    /* padding-top: 60px; */
    font-size: 14px;
    text-align: center;
}


footer  h2.office-hours{
    font-size: 22px;
    margin-top: 60px;
    margin-bottom: 4px;
}

footer .open-day {
    margin-top: 28px;
}

footer .open-day h3{
    font-size: 16px;
    line-height: 2.2;
    /* margin: 16px 0 8px; */
}


footer table th{
    font-size: 16px;
    line-height: 2.2;
    text-align: left;
}


footer table th + th {
    padding-left: 32px;
}

.footer .address{
    margin-top: 40px;
    text-align: center;
    font-size: 32px;

}

.footer .contact{
    margin-top: 60px;
    text-align: center;
    letter-spacing: 0;
    line-height: 2.6;
}

.footer .hr{
    margin-top: 60px;
    background-color: rgba(255,255,255,.4);
  
    height: 1px;
    
}
.nav-menu{
    
    position: fixed;
    width: 260px;
    height: 100vh;
    background-color: #80ab54;
    top:0;
    right:0;
    padding-top: 40px;
    padding-left: 20px;
    z-index: 999;
    /* opacity: 0.8; */
    
    
    
}

.nav-menu ul li{

    margin-bottom: 40px;
}

.nav-menu ul li a{

   color: #fff;
}


.nav-menu:focus{
    outline: none;
}
.fixed-position{
    overflow: hidden;
    
}


@keyframes slideInFromtLeft{
    0% {
      transform:translateX(-100%);
    }
  
    100%{
      transform:translateX(0);
    }
  }
  


  
  @keyframes feature-text-anim{
    0%{
        opacity: 0;
 
        transform: translate3d(0,10px,0);
    }

    75%{
        opacity: 0;
        transform: translate3d(0,10px,0);
    }
    100%{
        opacity: 1;
        transform: translate3d(0,0,0);
    }

  }



  /* .image-wrapper {
    margin: 10px; 

  }
   */
  .image-wrapper img {
    float: left;
    margin-right: 10px; 
    width: 150px;
    height: 150px;
    /* add some spacing between the image and the text */
  }

  .section_a{
    margin-top: 60px;
       max-width: 965px;
       margin-left: auto;
       margin-right: auto;
       text-align: center;
  }

  .section_a .title {
    display: inline-block;
    position: relative;
    font-size: 28px;
    line-height: 2.4;
    font-weight: 600;
    /* color: var(--primary-color) */
  }

  .section_a_grid {
    margin-top: 40px;
    display: grid;
    column-gap: 40px;
    row-gap: 40px;
    grid-template-columns: 1fr 1fr;
    
  }

  .section_a_grid img{
    width: 100%;

  }


  .section_a .title::before{
    position:absolute;
    right:25%;
    bottom: 0;
    content:"";
    width:50%;
    height: 4px;
    background-color: var(--primary-color);
    border-radius: 4px;
  }


  .grid_item {
    /* background-color: var(--primary-color); */
 
   
  }
    .grid_item p{
        /* margin-top: 10px; */
        padding:6px 40px;
        font-size: 14px;
        line-height: 1.4;
        /* color: #3d9991; */
        color:#000;
        
  }



 


 /* Max width screen < 900px */


  @media(max-width:900px){

    .hero{
        padding-left: 32px;
        padding-right: 32px;
    }

    .hero h1{
        font-size: 28px;
        
    }

    .hero p{
        font-size: 18px;
    }


    header {

        
        background-position-x: 55%;
        background-position-y: center;
        /* background-attachment: fixed; */
  
    
    }


    header .logo a{
        font-size: 16px;
    }

    header .container{
        max-width: 90%;
    }

    main .content{
        margin: 56px auto;
    }

    .content img{
        width: 100%;
        float: none;
        margin-bottom: 12px;
        
    }


    .quote{
        padding: 0 32px;
    }

    .home-card{
        display: block;
      
    }

    .home-card .card{
        padding: 32px;
    }

    footer .email{
        display: none;
    }

    footer .address{
        font-size: 28px !important;
        line-height: 1.4;
    }

    footer .office-hours, 
    footer .open-day {
        text-align: center;
    }
    footer table{
        display: inline-block;
    }

    footer .footer_inner{
        padding-top: 40px;
    }

    footer .office-hours{
        margin-top: 0 !important;
    }


    footer .hr{
        margin-top: 40px !important;
    }
    footer .contact{
        margin-top: 40px !important;
    }
  }



/* Max width screen < 640px */

  @media(max-width:640px){

    .hero{
        padding-left: 32px;
        padding-right: 32px;
    }

    .hero h1{
        font-size: 28px;
        
    }

    .hero p{
        font-size: 18px;
    }


    header {

        
        background-position-x: 55%;
        background-position-y: center;
        /* background-attachment: fixed; */
  
    
    }


    header .logo a{
        font-size: 16px;
    }

    header .container{
        max-width: 90%;
    }

    main .content{
        margin: 56px auto;
    }

    .content img{
        width: 100%;
        float: none;
        margin-bottom: 12px;
        
    }


    .quote{
        padding: 0 32px;
    }

    .home-card{
        display: block;
      
    }

    .home-card .card{
        padding: 32px;
    }

    footer .email{
        display: none;
    }

    footer .address{
        font-size: 28px !important;
        line-height: 1.4;
    }

    footer .office-hours, 
    footer .open-day {
        text-align: center;
    }
    footer table{
        display: inline-block;
    }

    footer .footer_inner{
        padding-top: 40px;
    }

    footer .office-hours{
        margin-top: 0 !important;
    }


    footer .hr{
        margin-top: 40px !important;
    }
    footer .contact{
        margin-top: 40px !important;
    }


    .section_a_grid {
        display:block;
        padding-left: 20px;
        padding-right: 20px;
    }

    .section_a_grid .grid_item{
        margin-bottom: 20px;
    }

    .section_a .title{
        font-size: 22px;
    }
  }